extends layout

block content
	#top-bar(ng-controller="LogoutController" ng-init="init()")
		.container.center-vertical
			h2.pull-left Welcome {{username}}!
			button.btn.btn-primary.pull-right(ng-click="signOut()") Log Out

	#graphs(ng-controller="DashboardController")
		.container-fluid
			.row
				#graph1.graph.col-md-4
					.plus-button.img-circle.center-vertical(ng-click="showPopup(1)")
						i.fa.fa-plus-circle(aria-hidden="true")
				#graph2.graph.col-md-4
					.plus-button.img-circle.center-vertical(ng-click="showPopup(2)")
						i.fa.fa-plus-circle(aria-hidden="true")
				#graph3.graph.col-md-4
					.plus-button.img-circle.center-vertical(ng-click="showPopup(3)")
						i.fa.fa-plus-circle(aria-hidden="true")
			.row
				#graph4.graph.col-md-4
					.plus-button.img-circle.center-vertical(ng-click="showPopup(4)")
						i.fa.fa-plus-circle(aria-hidden="true")
				#graph5.graph.col-md-4
					.plus-button.img-circle.center-vertical(ng-click="showPopup(5)")
						i.fa.fa-plus-circle(aria-hidden="true")
				#graph6.graph.col-md-4
					.plus-button.img-circle.center-vertical(ng-click="showPopup(6)")
						i.fa.fa-plus-circle(aria-hidden="true")

	include pop-up

	footer
		.container
			p &copy; 2017 Business Dashboard. All Rights Reserved

	//- D3 scripts
	script(src="https://d3js.org/d3.v4.min.js")
	script(src="javascripts/d3/bar-chart.js")
	script(src="javascripts/d3/line-chart.js")
	script(src="javascripts/d3/pie-chart.js")
	script(src="javascripts/d3/waterfall-chart.js")

	script(src="https://code.jquery.com/jquery-3.1.1.min.js")
	script(src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js")
	script(src="javascripts/global-var.js")
	script(src="javascripts/init-firebase.js")
	script(src="javascripts/logout-controller.js")
	script(src="javascripts/dashboard.js")
	script(src="javascripts/dashboard-controller.js")
	script(src="javascripts/pop-up-controller.js")
