extends layout

block content
	div.sign-in-page-wrapper
		div.sign-in-box(ng-controller="LoginController" ng-init="init()")
			h1 Sign In

			div.input-group
				span.input-group-addon#addon1: i.fa.fa-envelope(aria-hidden="true")
				input.form-control(type="text" aria-describedby="addon1" placeholder="Email" ng-model="email")

			div.input-group
				span.input-group-addon#addon2: i.fa.fa-lock(aria-hidden="true")
				input.form-control(type="password" aria-describedby="addon2" placeholder="Password" ng-model="password")
			
			div.alert#msg-box(ng-bind="message")

			button.btn.btn-large.btn-primary#btn-sign-in(ng-click="signInUser(email, password)") Sign In
			hr
			button.btn.btn-large.btn-success#btn-create-user(ng-click="createNewUser(email, password)") Create An Account

	script(src="https://code.jquery.com/jquery-3.1.1.min.js")
	script(src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js")
	script(src="javascripts/global-var.js")
	script(src="javascripts/init-firebase.js")
	script(src="javascripts/login-controller.js")
			