extends layout

block content
	div(ng-controller="LoginController" ng-init="init()")
		div
			div: | Email
			div: input(type="text" ng-model="email")
		
		div
			div: | Password
			div: input(type="text" ng-model="password")
		
		div#input-retype_password(style="display:none")
			div: | Retype Password
			div: input(id="input-retype_password" type="text" ng-model="repassword")
		
		div: button(ng-click="signInUser(email, password)") {{signInMode}}
		div: button(id="btn-create_new_user" ng-click="createNewUser(email, password)") Create New User
		
		div#error-box(style="color:red" ng-bind="errorMessage")