doctype html
html
	head
		title= title
		//- For mobile screens
		meta(id="meta" name="viewport" content="width=device-width, initial-scale=1.0")
		//- Stylesheets
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
		link(rel='stylesheet', href="stylesheets/style.css")
		//- Scripts
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js")
	body(ng-app="AppBody")
		block content