//- Pull page fade in the background
#fade

form#pop-up.center-horizontal-vertical.well.form-horizontal(ng-controller="PopupController" ng-init="init()")
    fieldset
      //- Form Name
      legend.title Add Graph
      hr

      //- Graph Type Drop Down
      .form-group
        label.col-md-3.control-label Graph Type
        .col-md-8
          .input-group
            span.input-group-addon
              i.fa.fa-list(aria-hidden="true")
            select#graph-type.form-control
              option(value="") Select graph type
              option {{GraphType.BAR}}
              option {{GraphType.LINE}}
              option {{GraphType.PIE}}
              option {{GraphType.WATERFALL}}
      //- Button
      .form-group
        label.col-md-4.control-label
        | 
        .col-md-4
          button.btn.btn-success(ng-click="add()")
            | Add 
//- /.container