//- Pull page fade in the background
#fade

form#pop-up.center-horizontal-vertical.well.form-horizontal(ng-controller="PopupController" ng-init="init()")
    #close-button.pull-right(ng-click="hidePopup()")
      i.fa.fa-times(aria-hidden="true")

    fieldset
      //- Form Name
      legend.title Add Graph
      hr

      //- Graph Type Drop Down
      .form-group
        label.col-md-3.control-label Graph Type
        .col-md-8
          .input-group
            span.input-group-addon
              i.fa.fa-list(aria-hidden="true")
            select#graph-type.form-control
              option(value="") Select graph type
              option {{GraphType.BAR}}
              option {{GraphType.LINE}}
              option {{GraphType.PIE}}
              option {{GraphType.WATERFALL}}

      //- Upload
      .form-group#upload
        label.col-md-3.control-label Upload CSV
        .col-md-8
          .input-group
            label.input-group-btn
              span.btn.btn-primary Browse&mldr; 
                input(type='file', style='display: none;')
            input.form-control(type='text', readonly='')

          //- Sample data Checkbox
          .input-group
            .checkbox
              label
                input#sample-data-checkbox(type="checkbox" value="") 
                | Use sample data

      .form-group
        label.col-md-3.control-label
        .col-md-8
          .input-group
            p: #[a(href="{{exampleDataUrl}}" download) Click here] to download example CSV files

      //- Progress bar
      .form-group#progress-bar
        label.col-md-3.control-label
        .col-md-8
          .input-group
            .progress
              .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')

      button.btn.btn-success(ng-click="add()") Add

//- /.container