//- Pull page fade in the background
#fade.active

form#pop-up.active.center-horizontal-vertical.well.form-horizontal(ng-controller="PopupController" ng-init="init()")
    fieldset
      //- Form Name
      legend.title Add Graph
      hr

      //- Graph Type Drop Down
      .form-group
        label.col-md-3.control-label Graph Type
        .col-md-8
          .input-group
            span.input-group-addon
              i.fa.fa-list(aria-hidden="true")
            select#graph-type.form-control
              option(value="") Select graph type
              option {{GraphType.BAR}}
              option {{GraphType.LINE}}
              option {{GraphType.PIE}}
              option {{GraphType.WATERFALL}}
      //- Upload
      .form-group#upload
        label.col-md-3.control-label Upload CSV
        .col-md-8
          .input-group
            label.input-group-btn
              span.btn.btn-primary
                | Browse&mldr; 
                input(type='file', style='display: none;', multiple='')
            |               
            input.form-control(type='text', readonly='')
          //- Sample data Checkbox
          .input-group
            .checkbox
              label
                input(type="checkbox" value="")
                | Use sample data.

      .form-group
        label.col-md-3.control-label
        .col-md-8
          .input-group
            p: #[a(href="#") Click here] to download example CSV files.

      button.btn.btn-success(ng-click="add()")
        | Add 

//- /.container