script(src="http://code.jquery.com/jquery-3.1.1.min.js")
script(src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js")
script(src="javascripts/global-var.js")
script(src="javascripts/init-firebase.js")
script(src="javascripts/login-controller.js")
script(src="javascripts/logout-controller.js")