<!DOCTYPE html>
<html>
  <head>
    <title>Business Dashboard</title>
    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
  </head>
  <body ng-app="AppBody">
    <div id="top-bar" ng-controller="LogoutController">
      <div class="container center-vertical">
        <h2 class="pull-left">Welcome User!</h2>
        <button ng-click="signOut()" class="btn btn-primary pull-right">Log Out</button>
      </div>
    </div>
    <div id="graphs" ng-controller="DashboardController" ng-init="init()">
      <div class="container-fluid">
        <div class="row">
          <div id="graph1" class="graph col-md-4">
            <div onClick="showPopup(1)" class="plus-button img-circle center-vertical"><i aria-hidden="true" class="fa fa-plus-circle"></i></div>
          </div>
          <div id="graph2" class="graph col-md-4">
            <div onClick="showPopup(2)" class="plus-button img-circle center-vertical"><i aria-hidden="true" class="fa fa-plus-circle"></i></div>
          </div>
          <div id="graph3" class="graph col-md-4">
            <div onClick="showPopup(3)" class="plus-button img-circle center-vertical"><i aria-hidden="true" class="fa fa-plus-circle"></i></div>
          </div>
        </div>
        <div class="row">
          <div id="graph4" class="graph col-md-4">
            <div onClick="showPopup(4)" class="plus-button img-circle center-vertical"><i aria-hidden="true" class="fa fa-plus-circle"></i></div>
          </div>
          <div id="graph5" class="graph col-md-4">
            <div onClick="showPopup(5)" class="plus-button img-circle center-vertical"><i aria-hidden="true" class="fa fa-plus-circle"></i></div>
          </div>
          <div id="graph6" class="graph col-md-4">
            <div onClick="showPopup(6)" class="plus-button img-circle center-vertical"><i aria-hidden="true" class="fa fa-plus-circle"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div id="fade"></div>
    <form id="pop-up" ng-controller="PopupController" ng-init="init()" class="center-horizontal-vertical well form-horizontal">
      <fieldset>
        <legend class="title">Add Graph</legend>
        <hr>
        <div class="form-group">
          <label class="col-md-3 control-label">Graph Type</label>
          <div class="col-md-8">
            <div class="input-group"><span class="input-group-addon"><i aria-hidden="true" class="fa fa-list"></i></span>
              <select id="graph-type" class="form-control">
                <option value="">Select graph type</option>
                <option>{{GraphType.BAR}}</option>
                <option>{{GraphType.LINE}}</option>
                <option>{{GraphType.PIE}}</option>
                <option>{{GraphType.WATERFALL}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label"></label> 
          <div class="col-md-4">
            <button ng-click="addGraph()" class="btn btn-success">Add </button>
          </div>
        </div>
      </fieldset>
    </form>
    <footer>
      <div class="container">
        <p>&copy; 2017 Business Dashboard. All Rights Reserved</p>
      </div>
    </footer>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="javascripts/d3/bar-chart.js"></script>
    <script src="javascripts/d3/line-chart.js"></script>
    <script src="javascripts/d3/pie-chart.js"></script>
    <script src="javascripts/d3/waterfall-chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
    <script src="javascripts/global-var.js"></script>
    <script src="javascripts/init-firebase.js"></script>
    <script src="javascripts/logout-controller.js"></script>
    <script src="javascripts/dashboard-controller.js"></script>
    <script src="javascripts/pop-up-controller.js"></script>
  </body>
</html>